body {
	font-family: 'Lora', serif;
	font-size: 13pt;
	background: url('../media/new_pool_table.png') repeat;
	-webkit-background-size: auto cover;
	-moz-background-size: auto cover;
	background-size: auto cover;
	-o-background-size: auto cover;
}

#titlerow {
	padding-left: 2em;
}
#titlerow h1 {
	text-transform: uppercase;
	font-weight: bold;
}
.tagline {
	padding-right: 2em;
}

#teamrequests, #standingsrequest, #fixtures, #standings {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	padding-left: 1.5em;
}

#teamrequests button {
	color: #f6F1EE;
	border-color: #795A48;
	background-color: #795A48;
}
#teamrequests button:hover {
	color: #795A48;
	background-color: #DED7DF;
}
button.leaguerequests {
	color: #A9BBC7;
	border-color: #2B3443;
	background-color: #2B3443;
}
button.leaguerequests:hover {
	color: #2B3443;
	background-color: #DED7DF;
}
#resetbtn {
	color: #DED7DF; 
	border-color: #7A6D5C;
	background-color: #7A6D5C;
}
#resetbtn:hover {
	color: #738A7A;
	border-color: #2B3443;
	background-color: #CCDACB;
}


.matchtimes {
	font-size: 90%;
	font-style: italic;
}
.matchname {
	font-size: 100%;
	font-weight: bold;
}
.competition {
	font-weight: bold;
}

/* Team colours */
#atleticom {
	color: #CB3524;
}
#liverpool {
	color: #C8102E;
}
#chelsea {
	color: #034694;
}
#napoli {
	color: #007FFF;
}

/* Standings' table styling */
tr {
	text-align: right;
}
tr th {
	text-align: left;
}
/* change Bootstrap's default hover color */
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #B69B80;
}

.btn {
	margin: 0 0.5em 0 0.3em;
	box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.6);
}

a {
	color: #034694;
}
a:hover {
	color: #B69B80;
}
.btn:focus, .btn:active {
	outline: none;
	box-shadow: none;
}
