body {
	font-family: 'Lora', serif;
	font-size: 13pt;
	color: #f6f1ee;
	background: #216d00;
}

.whitebackground {
	background: #f6f1ee;
}
.greenbackground {
	background: #216d00;
}

#upperpart {
	padding-bottom: 0.3em;
}
#titlerow {
	padding-left: 2em;
} #titlerow h1 {
	text-transform: uppercase;
	font-weight: bold;
	color: #216d00;
}
.tagline {
	padding-right: 2em;
	color: #2b3443;
}

#teamrequests, #standingsrequest, #fixtures, #standings {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	padding-left: 1.5em;
}

#teamrequests button {
	color: #f6f1ee;
	border-color: #455877;
	background-color: #455877;
}
#teamrequests button:hover {
	color: #a92a09;
	background-color: #f6f1ee;
}
button.leaguerequests {
	color: #f6f1ee;
	border-color: #2B3443;
	background-color: #2B3443;
}
button.leaguerequests:hover {
	color: #216d00;
	background-color: #DED7DF;
}

.matchtimes {
	font-size: 90%;
	font-style: italic;
}
.matchname {
	font-size: 100%;
	font-weight: bold;
}
.competition {
	font-weight: bold;
}

/* Team colours */
#atleticom {
	color: #CB3524;
}
#liverpool {
	color: #C8102E;
}
#napoli {
	color: #007FFF;
}
#borussia {
	color: #fde200;
}

/* Standings' table styling */
tr {
	text-align: right;
}
tr th {
	text-align: left;
}
/* change Bootstrap's default hover color */
.table tbody tr:hover td, .table tbody tr:hover th {
	color: #f6f1ee;
	background-color: #a92a09;
}

a {
	color: #034694;
}
a:hover {
	color: #a92a09;
}

hr {
	background: #f6f1ee;
	height: 0.3em;
}

.cards-list {
	z-index: 0;
	width: 50%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.card {
	margin: 1px auto;
	width: 90px;
	height: 90px;
	border-radius: 10px;
	box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
	cursor: pointer;
	transition: 0.4s;
}

.card .card_image {
	width: inherit;
	height: inherit;
	border-radius: 40px;
}

.card .card_image img {
	width: inherit;
	height: inherit;
	border-radius: 40px;
	object-fit: scale-down;
}

/* To use titles instead or over images for the cards. Not currently 
 * used */
.card .card_title {
	text-align: center;
	border-radius: 0px 0px 40px 40px;
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 10px;
	height: 10px;
}

.card:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.card:active {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px rgba(33,109,0,0.55), -5px -5px 30px 15px rgba(33,109,0,0.22);
}
